BODY {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H1 {
	MARGIN-TOP: 10px; FONT-SIZE: 12pt; COLOR: #6699cc; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}
H2 {
	MARGIN-TOP: 10px; FONT-SIZE: 12pt; COLOR: #6699cc; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}
.head2 {
	FONT-WEIGHT: 700; FONT-SIZE: 12pt; WIDTH: 100%; COLOR: white; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 1px; HEIGHT: 14pt; BACKGROUND-COLOR: #003399; TEXT-ALIGN: left
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H6 {
	MARGIN-TOP: 10px; FONT-SIZE: 10pt; COLOR: #6699cc; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}
.head2 {
	FONT-WEIGHT: 700; FONT-SIZE: 12pt; WIDTH: 100%; COLOR: white; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 1px; BACKGROUND-COLOR: #003399; TEXT-ALIGN: left
}
P {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
OL {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
UL {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
LI {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
LI.sub1 {
	FONT-SIZE: 8pt; LIST-STYLE-IMAGE: url(/graphics/library/bull_yel.gif)
}
PRE {
	FONT-SIZE: 10pt; FONT-FAMILY: Courier New, Courier, monospace
}
TT {
	FONT-SIZE: 10pt; FONT-FAMILY: Courier New, Courier, monospace
}
.code {
	FONT-SIZE: 9pt; FONT-FAMILY: Courier New, Courier, monospace
}
.fixed {
	FONT-FAMILY: Courier New, Courier, monospace
}
BLOCKQUOTE {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TABLE {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TH {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
DL {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
DD {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
DT {
	BORDER-TOP: 1px; MARGIN-TOP: 10px; FONT-WEIGHT: 700; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.dataterm {
	FONT-WEIGHT: 700; FONT-SIZE: 9pt; BORDER-TOP-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.bld {
	FONT-WEIGHT: 700; BORDER-TOP-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
B {
	FONT-WEIGHT: 700; BORDER-TOP-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.note {
	FONT-SIZE: 8pt; LINE-HEIGHT: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bigtype {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #ffffff; BACKGROUND-COLOR: #00309f
}
.small {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.mini {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.normal {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.micro {
	FONT-SIZE: 7pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.emphasis {
	FONT-SIZE: 8pt; COLOR: #ababab; BORDER-TOP-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.special {
	COLOR: #ffc125
}
CITE {
	FONT-SIZE: 10pt; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
CAPTION {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.figcap {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
A:link {
	COLOR: #000000
}
A:visited {
	COLOR: #68228b
}
A:hover {
	COLOR: #0000ff
}
.overview {
	COLOR: white
}
.howtojoin {
	COLOR: white
}
.business {
	COLOR: white
}
.technical {
	COLOR: white
}
.marketing {
	COLOR: white
}
.news {
	COLOR: white
}
.events {
	COLOR: white
}
.community {
	COLOR: white
}
.education {
	COLOR: white
}
.library {
	COLOR: white
}
.feedback {
	COLOR: white
}
.map {
	COLOR: white
}
.servers {
	COLOR: white
}
.software {
	COLOR: white
}
.ebusiness {
	COLOR: white
}
.java {
	COLOR: white
}
.dcoverview {
	COLOR: white
}
.dcprod {
	COLOR: white
}
.dcorder {
	COLOR: white
}
.dcrgtr {
	COLOR: white
}
.dcmag {
	COLOR: white
}
.dcsup {
	COLOR: white
}
.dclinks {
	COLOR: white
}
.dcevents {
	COLOR: white
}
.dcmap {
	COLOR: white
}
.whitelink {
	COLOR: white
}
